*{
    margin:0;
    font-family: 'Futura', Arial, sans-serif;
}

body{
    background: black;
    /* overflow: hidden; */
}

.wrapper{
    width: 100%;
    box-sizing: border-box;
    height: 100%px;
    max-width: 1300px;
    background: green;
    margin: 0 auto;
    display: block;
    
    
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-image: url('../images/pics.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.7s ease;
    /* justify-content: center */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.7s ease;
    background-color:rgba(0, 0, 0, 0.91);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
  }


  .item{
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    
  }
  /* -------------------------- */

  .item1{
    flex-grow: 1.4;
  }


  .item2{
      max-width: 750px;
    flex-grow: 1;
    text-align: center;
    
  }


  .item3{
    flex-grow: 1;
  }

/* -------------------------- */

  .itemA{
    background: none;
    flex-basis: 50%;
    margin-top: 2px;
    opacity: 1;
}


.itemC{
    flex-basis: 50%;
    margin-top: 2px;
    
}

/* -------------------------- */


.item1a{
    background-image: url('../images/stars3.png');
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item1b{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.scroll-div{
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    opacity: 0.7;
    background: none;
    margin-left: -40px;
    margin-top: 220px;
    height: 60px;
    cursor: pointer;
    
}

.scroll{
    
    margin: 20px auto;
    animation: bounce 2s ease-in-out reverse infinite;
}

.ion-ios-arrow-thin-down{
    font-size: 30px;
    color: #FFD304;
    margin-left: 10px;
    margin-right: 0px;
    /* opacity: 1; */
   
    
}

.moon{
    margin:85px auto;
        height: 50px;
        width: 50px;
        border-radius:50%;
        background: #E1F5FE;
        transform: rotate(-20deg);
        box-shadow: 8px 12px 100px rgba(245, 245, 245, 0.48);
        background: linear-gradient(#FBFAE3, rgb(228, 224, 224));
        -webkit-animation: su 50s ease-in infinite,
                          moon-entrance 1.5s ease-in forwards;
        -moz-animation: su 50s ease-in infinite,
                          moon-entrance 1.5s ease-in forwards;
        -ms-animation: su 50s ease-in infinite,
                          moon-entrance 1.5s ease-in forwards;
        -o-animation: su 50s ease-in infinite,
                          moon-entrance 1.5s ease-in forwards;
        animation: su 50s ease-in infinite,
                   moon-entrance 1.5s ease-in forwards;
        
}

@keyframes moon-entrance {
    0%{ transform: translateX(-15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

@-webkit-keyframes moon-entrance {
    0%{ transform: translateX(-15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

@-moz-keyframes moon-entrance {
    0%{ transform: translateX(-15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

@-ms-keyframes moon-entrance {
    0%{ transform: translateX(-15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}




/* -------------------------- */


.item3a{
    /* background: #CB9A9A; */
    flex-basis: 25%;
    opacity: 1;
    display: flex;
    background-image: url('../images/stars3.png');
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}


.item3b{
    background: none;
    flex-basis: 50%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between */
}


.item3c{
    background: none;
    flex-basis: 25%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* -------------------------- */

.content1{
    letter-spacing: 8px;
    color: rgba(255,255,255,1);
    font-size: 19px;
    opacity: 0.9;
    padding: 15px 0 20px 0;
    /* animation: content1-entrance 1.5s 1s ease-in forwards; */
}

/* @keyframes content1-entrance{
    0%{ opacity: 0}
    100%{transform: scale3d(1.03,1.03,1.03); opacity: 0.9}
}

@-webkit-keyframes content1-entrance{
    0%{ opacity: 0}
    100%{transform: scale3d(1.03,1.03,1.03); opacity: 0.9}
}

@-moz-keyframes content1-entrance{
    0%{ opacity: 0}
    100%{transform: scale3d(1.03,1.03,1.03); opacity: 0.9}
}

@-ms-keyframes content1-entrance{
    0%{ opacity: 0}
    100%{transform: scale3d(1.03,1.03,1.03); opacity: 0.9}
} */

.mini{
    color: #FFD300;
    font-size: 24px;
    opacity: 1;
}

.content2{
    letter-spacing: 5px;
    color: #808080;
    font-style: italic;
    font-size: 12px;
    line-height: 19px;
    animation: content-entrance 1.5s 0.5s ease-in forwards;
    -webkit-animation: content-entrance 1.5s 0.5s ease-in forwards;
    -moz-animation: content-entrance 1.5s 0.5s ease-in forwards;
    -ms-animation: content-entrance 1.5s 0.5s ease-in forwards;
    opacity: 0;

}


/* -------------------------- */

.slid-nav1{
    background: transparent;
    flex-grow: 9;
    padding: 0px;
   /* opacity: 0; */
    transition: all 1s
}

.slide-menu{
    display: flex;
    background: #000;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 800px;
    left: 220px;
    top: -500px;
}

.starting{
    animation: menu-slide 0.5s  ease-in forwards;
    -webkit-animation: menu-slide 0.5s  ease-in forwards;
    -moz-animation: menu-slide 0.5s  ease-in forwards;
    -ms-animation: menu-slide 0.5s  ease-in forwards;
}

.link-fade{
    animation: menu-fadeIn 1s 0.35s  ease-in backwards;
    -webkit-animation: menu-fadeIn 1s 0.35s  ease-in backwards;
    -moz-animation: menu-fadeIn 1s 0.35s  ease-in backwards;;
    -ms-animation: menu-fadeIn 1s 0.35s  ease-in backwards;
}

.slide-menu ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    line-height: 40px;
    cursor: pointer;
    
}

.slide-menu a{
    text-decoration: none;
    color: rgba(255,255,255,0.3);
    transition: all 0.5s
}

.slide-menu a:hover{
    color: #FFD300;
    transition: 0.5s
}

.slide-menu a:focus{
    color: #fff;
}

.slide-menu li{
    transition: 0.5s
}

.slide-menu li:hover{
    transform: scale3d(1.2,1.2,1.2);
}

.slide-menu li:focus{
    color: white;
}

/* .style-li{
    color: rgba(255,255,255,1)
} */


.slid-nav2{
    background: #1C1B1B;
    /* flex-basis: 50px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: slide-nav2-entrance 1s 1s  ease-in forwards;
    -webkit-animation: slide-nav2-entrance 1s 1s  ease-in forwards;
    -moz-animation: slide-nav2-entrance 1s 1s  ease-in forwards;
    -ms-animation: slide-nav2-entrance 1s 1s  ease-in forwards;
}

@keyframes slide-nav2-entrance {
    0%{ transform: translateX(15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

@-webkit-keyframes slide-nav2-entrance {
    0%{ transform: translateX(15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

@-moz-keyframes slide-nav2-entrance {
    0%{ transform: translateX(15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

@-ms-keyframes slide-nav2-entrance {
    0%{ transform: translateX(15px); opacity:0}
    100% {transform: translateX(0px); opacity:1}
}

/* -------------------------- */

.spinner{
    background: none;
    margin-top: 70px;
    margin-left: 80px;
    height: 60px;
    transform: rotate(115deg);
    -webkit-animation: roll 5s ease-in infinite alternate-reverse,
    fadeIn 2s ease-in-out;
    -moz-animation: roll 5s ease-in infinite alternate-reverse,
    fadeIn 2s ease-in-out;
    -ms-animation: roll 5s ease-in infinite alternate-reverse,
    fadeIn 2s ease-in-out;
    animation: roll 5s ease-in infinite alternate-reverse,
               fadeIn 2s ease-in-out;
}

.circle{
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FFD300;
    opacity: 0.7;
    animation: expand 3s 5s  ease-in infinite alternate-reverse;
    -webkit-animation: expand 3s 5s  ease-in infinite alternate-reverse;
    -moz-animation: expand 3s 5s  ease-in infinite alternate-reverse;
    -ms-animation: expand 3s 5s  ease-in infinite alternate-reverse;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #1F1D1D;
    border-bottom: 33px solid transparent;
}

.triangle:before {
    content: '';
	width: 0;
	height: 0;
	border-top: 21px solid transparent;
	border-left: 41px solid black;
    border-bottom: 26px solid transparent;
    position: absolute;
    margin-left: -47px;
    margin-top: -20px;
    
}

/* -------------------------- */
		

@keyframes menu-slide {
    0%{opacity:0}
    70%{ top: 155px; opacity:0}
    100% {top: 165px; opacity: 1}
}
@-webkit-keyframes menu-slide {
    0%{opacity:0}
    70%{ top: 155px; opacity:0}
    100% {top: 165px; opacity: 1}
}

@-moz-keyframes menu-slide {
    0%{opacity:0}
    70%{ top: 155px; opacity:0}
    100% {top: 165px; opacity: 1}
}

@-ms-keyframes menu-slide {
    0%{opacity:0}
    70%{ top: 155px; opacity:0}
    100% {top: 165px; opacity: 1}
}
/* -------------------------- */

@keyframes roll {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
    
}

@-webkit-keyframes roll {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
    
}

@-moz-keyframes roll {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
    
}

@-ms-keyframes roll {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
    
}
/* -------------------------- */

@keyframes menu-fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

@-webkit-keyframes menu-fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

@-moz-keyframes menu-fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

@-ms-keyframes menu-fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

/* -------------------------- */


@keyframes fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

@-webkit-keyframes fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

@-moz-keyframes fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

@-ms-keyframes fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

/* -------------------------- */

@keyframes expand{
    0%{transform: rotate(360deg) translateY(-8px); opacity: 0.7}
   100%{transform: rotate(0deg) translateY(-6px); opacity: 0.7}
}

@-webkit-keyframes expand{
    0%{transform: rotate(360deg) translateY(-8px); opacity: 0.7}
   100%{transform: rotate(0deg) translateY(-6px); opacity: 0.7}
}

@-moz-keyframes expand{
    0%{transform: rotate(360deg) translateY(-8px); opacity: 0.7}
   100%{transform: rotate(0deg) translateY(-6px); opacity: 0.7}
}

@-ms-keyframes expand{
    0%{transform: rotate(360deg) translateY(-8px); opacity: 0.7}
   100%{transform: rotate(0deg) translateY(-6px); opacity: 0.7}
}

/* -------------------------- */

@keyframes bounce{
    0%{transform: translateY(8px); opacity: 0}
    50%{transform: translateY(0px); opacity: 1}
    100%{transform: translateY(8px); opacity: 0}
}

@-webkit-keyframes bounce{
    0%{transform: translateY(8px); opacity: 0}
    50%{transform: translateY(0px); opacity: 1}
    100%{transform: translateY(8px); opacity: 0}
}

@-moz-keyframes bounce{
    0%{transform: translateY(8px); opacity: 0}
    50%{transform: translateY(0px); opacity: 1}
    100%{transform: translateY(8px); opacity: 0}
}

@-ms-keyframes bounce{
    0%{transform: translateY(8px); opacity: 0}
    50%{transform: translateY(0px); opacity: 1}
    100%{transform: translateY(8px); opacity: 0}
}

/* -------------------------- */


@keyframes sun {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

@-webkit-keyframes sun {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

@-moz-keyframes sun {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

@-ms-keyframes sun {
    0%{transform: rotate(360deg)}
    50%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

/* -------------------------- */

.burger-nav{
    /* background: red; */
    flex-grow: 1;
    text-align: center;
    padding-top: 15px;
    
}

.active-slide{
    /* background: grey; */
    margin: 4px auto;
}

#one{
    font-family: 'Hiragino Kaku Gothic StdN';
    color: white;
    font-size: 10px;
    cursor: pointer;
    opacity: 0.9
}

#divider{
    font-family: 'Hiragino Kaku Gothic StdN';
    color: black;
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
    padding-top: 4px;
}

.rest-slide{
    /* background: blue; */
    flex-grow: 0.5;
    margin: 2px auto;
}

#two{
    font-family: 'Hiragino Kaku Gothic StdN';
    color: #121212;
    font-size: 10px;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 4px;
    
}

p#two:hover{
    color: white;
    opacity: 0.5;
    transform: scale3d(1.2,1.2,1.2);
    
}

.media{
    /* background: greenyellow; */
    /* flex-grow: 0.1; */
    margin: 0px auto;
    margin-bottom: 25px
   
}

.burger{
    margin: 0px auto;
    width: 25px;
    cursor: pointer;
    transition: 0.5s;
    
}

.burger:hover{
    transform: scale3d(1.1, 1.1, 1.1)
    
}

.line{
    position: relative;
    /* height: 1px; */
    /* background: rgba(255, 255, 255,0.5); */
    width: 25px;
    display: block;
    margin-top: 6px;
}

.first{
    width: 18px;
    height: 2px;
    background: black
}

.second{
    width: 27px;
    height: 1px;
    background: #FFD300;
    opacity: 0.95
}

.third{
    width: 18px;
    height: 1px;
    background: white;
    opacity: 0.95;
}

div.icon{
   text-align: center;
}

div#three:hover {
    color: #DFC33E;
    opacity: 0.9;
    transform: scale3d(1.2,1.2,1.2);
}

.ion-social-google{
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.ion-social-twitter{
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.ion-social-github{
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}


